.DS_Store
Thumbs.db

/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
sftp-config.json
/storage/app/backup
/storage/cache_keys.json

__MACOSX
/.phpintel
/.php_cs.cache


_ide_helper.php


/log

